// .............. Form component .........
.input_control{
    position: relative;
    input{
        width: 160px;
        padding: .4rem .2rem;
        border: 1px solid #888;
        outline: none;
        box-shadow: none;
        border-radius: .3rem;
        
        &:focus{
            border: 1px solid currentColor;
            outline: none;
            box-shadow: none;
        }
    }
    .input_search_icon{
        position: absolute;
        z-index: 10;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        opacity: .6;
    }
    .input_search_icon + input{
        padding-left: 1.5rem;
    }
}
.input_bg_gray{
    background: var(--input-gray);
}


.input_option_control{
    position: relative;
    select{
        width: 160px;
        padding: .4rem .2rem;
        border-radius: .3rem;
        border: 2px solid var(--primary1);

    }
}
.btn_select_control{
    position: absolute;
    height: 100%;
    right: 0;
    width: 28px;
}

// ..... Radio input ....... 
.radio_control{
    display: inline-flex;
    flex-flow: row wrap;
    label[for*='radio']{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:active{
            opacity: .7;
        }
        &.radio_primary1{
            border: 1px solid var(--primary1);
        }
        &.radio_primary2{
            border: 1px solid var(--primary2);
        }
        &.radio_primary3{
            border: 1px solid var(--primary3);
        }
        &.radio_secondary1{
            border: 1px solid var(--secondary1);
        }
        &.radio_secondary2{
            border: 1px solid var(--secondary2);
        }
        &.radio_accent1{
            border: 1px solid var(--accent1);
        }
        &.radio_accent2{
            border: 1px solid var(--accent2);
        }
       
    }
    input[type="radio"]{
        display: none;
    }
    input[type="radio"]:checked ~ label[for*="radio"]::after{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 50%;
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_primary1::after{
        background: var(--primary1);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_primary2::after{
        background: var(--primary2);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_primary3::after{
        background: var(--primary3);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_secondary1::after{
        background: var(--secondary1);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_secondary2::after{
        background: var(--secondary2);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_accent1::after{
        background: var(--accent1);
    }
    input[type="radio"]:checked ~ label[for*="radio"].radio_accent2::after{
        background: var(--accent2);
    }
}

// .... Check box input ......
.checkbox_control{
    display: inline-flex;
    flex-flow: row wrap;
    input[type="checkbox"]{
        display: none;
    }
    label[for*='checkbox']{
        width: 18px;
        height: 18px;
        display: inline-block;
        position: relative;
        border-radius: .1rem;
        cursor: pointer;
        &:active{
            opacity: .7;
        }
        &.checkbox_primary1{
            border: 1px solid var(--primary1);
        }
        &.checkbox_primary2{
            border: 1px solid var(--primary2);
        }
        &.checkbox_primary3{
            border: 1px solid var(--primary3);
        }
        &.checkbox_secondary1{
            border: 1px solid var(--secondary1);
        }
        &.checkbox_secondary2{
            border: 1px solid var(--secondary2);
        }
        &.checkbox_accent1{
            border: 1px solid var(--accent1);
        }
        &.checkbox_accent2{
            border: 1px solid var(--accent2);
        }
       
    }
    
    input[type="checkbox"]:checked ~ label[for*="checkbox"]::after{
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        border: solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(36deg);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_primary1{
        background: var(--primary1);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_primary2{
        background: var(--primary2);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_primary3{
        background: var(--primary3);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_secondary1{
        background: var(--secondary1);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_secondary2{
        background: var(--secondary2);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_accent1{
        background: var(--accent1);
    }
    input[type="checkbox"]:checked ~ label[for*="checkbox"].checkbox_accent2{
        background: var(--accent2);
    }
}

// .... Toggle input ..... 
.toggle_control{
    display: inline-flex;
    flex-flow: row wrap;
    input[type="checkbox"]{
        display: none;
    }
    label[for*="toggle"]{
        display: inline-block;
        width: 45px;
        height: 23px;
        position: relative;
        border-radius: 20px;
        cursor: pointer;
        &.toggle_primary1{
            background: var(--primary1);
        }
        &.toggle_primary2{
            background: var(--primary2);
        }
        &.toggle_primary3{
            background: var(--primary3);
        }
        &.toggle_secondary1{
            background: var(--secondary1);
        }
        &.toggle_secondary2{
            background: var(--secondary2);
        }
        &.toggle_accent1{
            background: var(--accent1);
        }
        &.toggle_accent2{
            background: var(--accent2);
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 90%;
            width: 17px;
            border-radius: 50%;
            background: #fff;
            left: 2%;
            transition: .5s;
        }
    }
    input[type="checkbox"]:checked ~ label[for*='toggle']::after{
        left: 57%;
    }
}


// ...... tags_control ......
.tags_control{
    button i {
        padding-left: 1rem;
    }
}
// .............. Form component .........End