// .......... Font Style ..........
.display_bold{
    font-weight: bold;
}
.display_regular{
    font-weight: normal;
}
.display_1{
    font-size: 32px;
}
.display_2{
    font-size: 26px;

}
.display_3{
    font-size: 20px;

}
.display_4{
    font-size: 16px;

}
.display_5{
    font-size: 14px;

}
.display_6{
    font-size: 12px;

}
.display_7{
    font-size: 10px;

}
// .......... Font Style ..........